

.logo-div {
    height: 250px;
}


.certificate-div {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
}

.links-div {
    flex-wrap: wrap;
    white-space: nowrap;
}

#flexstart-footer {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}

#flexend-footer {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.fillout-div {
    height: 500px;
}

body {
    zoom: 0.6;
}