/* här bestäms att om det inte får plats så hamnar det på raden nedanför med flex wrap: wrap så att 
man inte måste ändra allt med media queries utan att det ändå anpassar sig */
.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

/* ändrat storlek på padding och font för att få ihop footer-divarna lite som på googles skärmvy för telefon */

#flexstart-footer {
    padding-left: 10px;
}

#flexend-footer {
    padding-right: 10px;
}

footer
{
    height: 40%;
}
.a-footer,
.footer-certificate, .country-text {
    padding: 10px;
    font-size: 10px;
    font: 10px/27px Roboto, Arial, sans-serif;
}

.certificate-image {
    padding: 10px;
    max-height: 1.75rem;
}