* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    max-width: 100%;
}

/* flexar redan i bodyn så att alla element (header, main, footer) ska hålla ihop bättre som en sida, 
samt för att få med utfyllnads-delen i main */
body {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/* header och dess element */

header {
    top: 0;
    height: 48px;
    width: 100%;
}

/* här sätts flexend så att barnen hamnar till höger i headern då det är direction - row */
.header-div {
    height: 100mv;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    display: flex;
    align-items: center;
}

/* en lite genomskinlig grå färg runt "google apps" ikonen */
#icon-hover-button:hover {
    cursor: pointer;
    border-radius: 80%;
    background-color: rgba(128, 128, 128, 0.5);
}

.login-button {
    background: #1a73e8;
    color: white;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
}

.login-button:hover {
    background: #1b66c9
}

/* main och dess element */

/* här sätter jag att divarna i main ska vara uppradade lodrätta - column. dessa ska fylla main. */
main {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100mv;
    height: 100%;
}

/* här sätts flexend så att google loggan hamnar nederst i diven när skärmen ändras, nära sökdiven */
.logo-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.logo {
    height: 92px;
    width: 272px;
}
/* centrerar och sätter till uppradat lodrätt för sök-diven och knapp-diven, så dom hamnar under varandra */
.search-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    align-items: center;
}
/* fixar sökrutan genom att runda den med border radius, sätta padding så den tjockas, space between för de olika ikoner 
och textarean */
.search-bar-div {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 44px;
    width: 100%;
    max-width: 600px;
}

.search-bar-div:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.search-bar {
    resize:none;
    background-color: transparent;
    border: none;
    margin: 0 10px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    outline: none;
    display: flex;
    position: relative;
    line-height: 22px;
    flex: 100%;
}

.search-button {
    background-color: #f8f9fa;
    font-family: arial, sans-serif;
    margin: 10px;
}

.search-button:hover {
    border: 1px solid #dadce0;
}
/* centrerar knapparna horisontellt som är under sökområdet */
.search-button-div {
    padding: 18px;
    display: flex;
    justify-content: center;
}
/* såg att google har en div som funkar som utfyllnad och för att (tror jag) anpassa efter skärm, så provade det */
/* genom flex grow så tar den upp spacet som finns om det finns */
.fillout-div {
    flex: 1;
    flex-grow: 1;
    width: 100%;
    flex-shrink: 0;
    margin-top: auto;
}

/* footer och dess element */

/* sätter att footern ska vara längst ner på sidan genom margin-bottom : 0 */
footer {
    margin-top: auto;
    background: #f2f2f2;
    margin-bottom: 0;
}

.footer-container
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* sätter en border på botten av texten så att det blir som linjen som skiljer landet från länkarna som google har */
.country-text {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    font-family: arial, sans-serif;
}

/* här bestäms att om det inte får plats så hamnar det på raden nedanför med flex wrap: wrap så att 
man inte måste ändra allt med media queries utan att det ändå anpassar sig */
.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#flexstart-footer {
    padding-left: 15px;
}

#flexend-footer {
    padding-right: 15px;
}


.a-footer,
.footer-certificate {
    padding: 14px;
    color: #70757a;
    font-size: 15px;
    font: 13px/27px Roboto, Arial, sans-serif;
}

.certificate-image {
    padding: 14px;
    max-height: 2.75rem;
}

.footer-certificate {
    display: flex;
    align-items: center;
}



/* regler som delas  */

/* jag var soecifik här istället för ett a, då alla a inte ska ha denna regel */
.link:hover,
.a-footer:hover,
.footer-certificate:hover {
    text-decoration: underline;
}

a {
    font: 13px/27px Roboto, Arial, sans-serif;
    line-height: 24px;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.link {
    margin-right: 1rem;
}

#icon-button:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    color: #5f6368;
    opacity: 0.8;
    margin: 0 0.5rem;
}

button {
    border: 1px solid transparent;
    padding: 9px 23px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}